
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Golf Tracker</title>
       
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% load static %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="row">
            <div class="card text-right">
                <img class="card-img-top" src="{{ object.player.pic_url }}" alt="">
                <div class="card-body">
                  <h4 class="card-title">{{ object.player.name }}</h4>
                  <p class="card-text"><br>
                    {{ object.wins}}
                    wins
                    <br>
                    {{ object.points }}
                    points</p>
                </div>
              </div>
        </div>
        <div>

            
            
            
            
        </div>
                    
               

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
